@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #230543;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    overflow-y: scroll;
    background-color: black;
}

.navbar {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1 {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 1000;
    background-color: var(--main-color);

}

.box1 .fa-qrcode {
    color: white;
    position: absolute;
    left: 43px;
    bottom: 10px;
    font-size: .6rem;
}

.profile-box {
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-color: yellow;
    border-radius: 04px;
    position: relative;
}

.help-box {
    width: 20px;
    height: 20px;
    background-color: rgb(228, 228, 222);
    border-radius: 50%;
}

.box2 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    text-align: center;
    margin-top: 60px;
}

.box2 span,
.box2>h2 {
    color: white;
}

.box2 span {
    font-size: .8rem;
}

.box2>h2 {
    font-size: 1.4rem;
}

.box2 button {
    background-color: transparent;
    border: none;
    display: flex;
    font-size: .8rem;
    color: white;
    font-family: "Poppins", sans-serif;
    position: relative;
}

.start-now .fa-solid {
    position: absolute;
    top: 4px;
    right: -25px;
}

.box2 button a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    background: white;
}

.nav-image {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
}

.nav-image img {
    height: 100px;
    width: 100px;
    object-position: center;
}

.nav-offer-web {
    display: flex;
    align-items: center;
    column-gap: 70px;
    margin: 30px 0px;
}

.nav-offer-web .img-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    row-gap: 20px;
}

.nav-offer-web .offer-section h3 {
    color: white;
    font-size: 1.7rem;
}

.money-transfer-section {
    width: 95%;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px;
}

.money-transfer-section .head-scetion {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}

.money-transfer-section .head-scetion h3 {
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .8rem;
}

.money-transfer-section .upi-section {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    column-gap: 10px;
}

.money-transfer-section .upi-section .upi-box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}

.money-transfer-section .upi-section .upi-box span {
    color: rgb(255, 255, 255);
    font-size: .7rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.money-transfer-section .upi-section .upi-box img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-position: center;

}

.Recharge_Bill {
    width: 90%;
    height: 120px;
    background-color: #18171B;
    border: 1px solid #484449;
    display: block;
    margin: 0px auto;
    border-radius: 10px;
}

.Recharge_Bill .Recharge-section-nav {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
}

.Recharge_Bill .Recharge-section-nav>h3,
a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: .7rem;
}

.Recharge_Bill .Recharge-section-nav>h3 {
    color: white;
}

.Recharge_Bill .Recharge-section-nav>a {
    color: #9C27B0;
    text-decoration: none;
}

.Recharge_Bill .features {
    margin: 20px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Recharge_Bill .feature-box {
    overflow: hidden;
    display: flex;
    margin: 5px 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.Recharge_Bill .feature-box img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.Recharge_Bill .features .feature-box span {
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: .6rem;
}

.loan_insurance {
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
}

.loan_insurance .loans,
.insurance {
    width: 50%;
    height: 80px;
    background-color: #18171B;
    border: 1px solid #484449;
    border-radius: 8px;
    margin: 0px 3px;
    position: relative;
}

.loan_insurance .loans>h2,
.insurance>h2 {

    font-size: .8rem;
    margin-top: 7px;
    margin-left: 10px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.loan_insurance .loans span,
.insurance span {
    font-size: .5rem;
    margin: 0px 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #a070d3;
    color: #2f074c;
    padding: 1px 5px;
    border-radius: 3px;
}

.loan_insurance .insurance img:nth-child(3) {
    width: 60px;
    height: 35px;
    position: absolute;
    right: 0px;
    bottom: 3px;
}

.loan_insurance .loans img:nth-child(3) {
    width: 60px;
    height: 35px;
    position: absolute;
    right: 0px;
    bottom: 3px;
}

@media screen and (max-width:500px) {

    .nav-offer-web {
        display: none;
    }
}

@media screen and (min-width:500px) {

    .box2,
    .nav-image {
        display: none;
    }

    .money-transfer-section .upi-section .upi-box {
        justify-content: space-evenly;
    }
}